<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Store</title>
  </head>
  <body>
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="available_books">Available Books</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="my_books">My Books</a>
        </li>
      </ul>
      <div>
      		 <a class="nav-link text-white" href="book_register">New Book Register</a>
      </div>
    </div>
  </div>
</nav>

   <div class="container text-center my-5">
   		<h1>World of Books and Imagination</h1>
   		<h6>At [World of Books and Imagination], we believe in the power of books to inspire, educate, and entertain. Step into our virtual bookshop and embark on a literary journey like no other. Whether you're a passionate reader, a knowledge seeker, or an avid collector, we have something for everyone.

            Browse our extensive collection of books covering a wide range of genres, from timeless classics to contemporary bestsellers. Dive into captivating stories, immerse yourself in thought-provoking non-fiction, and explore new perspectives through our carefully curated selection.

            Our user-friendly website makes it easy to find your next great read. Search by author, title, genre, or simply get lost in our recommendations. With detailed book descriptions, reader reviews, and sample chapters, you can make informed decisions and discover hidden gems.

            Not sure where to start? Our knowledgeable staff is here to help. Reach out to our friendly customer support team for personalized recommendations or expert advice. We're passionate about books, and we're dedicated to ensuring your reading experience is extraordinary.

            Whether you prefer the crisp pages of a physical book or the convenience of e-books, we have you covered. Choose your preferred format and dive into the captivating world of literature.

            Join our vibrant community of book lovers. Connect with fellow readers, participate in book clubs, and stay updated with the latest literary events and author interviews. Immerse yourself in a world of discussions, ideas, and shared passion for the written word.

            At [World of Books and Imagination], we strive to create an enchanting haven for book enthusiasts. We invite you to embark on a literary adventure, discover new worlds, and unlock the limitless possibilities that books offer.

            Start your journey with us today and let the magic of reading ignite your imagination.

            Happy reading!
   		</h6>
   		<img src="/images/bg.png" width="360px"/>
   </div>


   <!-- Footer -->
   <footer class="bg-dark text-white py-4">
       <div class="container text-center">
           <p>&copy; 2023 Book Store. All rights reserved.</p>
           <p>Contact us at info@bookstore.com</p>
       </div>
   </footer>
   
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
  </body>
</html>